/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

//--------------------------------------------------------------
// Call To Action
//--------------------------------------------------------------
#call-to-action__editor,
#call-to-action__render {
  min-height: 250px;
  width: 100%;

  .call-to-action__container {
    min-height: inherit;
  }
}

#call-to-action__render {
  .call-to-action__container {
    min-height: inherit;
    // Full Width
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }
}
