.WP_EditorModal {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background: white;
  min-width: 380px;
  min-height: 100px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px 25px;

  .WP_EditorModal__toggle {
    position: absolute;
    top: -20px;
    right: -3px;
    font-size: 30px;
    cursor: pointer;
    z-index: 102;

    border: none;
    background: transparent;
  }
  .WP_EditorModal__content {
    position: relative;
  }
  h3 {
    margin: 0 !important;
    text-align: center;
  }
}
