/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-admin {
  // Inspector
  .sidebar__global-settings {
    margin: 10px 0;
  }

  #blocks-on-image__editor {
    .block-editor-inner-blocks
      .wp-block:nth-last-child(2)[data-type='core/paragraph']
      .block-editor-block-list__insertion-point-inserter {
      opacity: 1 !important;
    }

    .wp-block:hover {
      background-color: white;
    }

    .blocks-on-image__container {
      left: 50%;
      margin-left: -35vw;
      margin-right: -35vw;
      position: relative;
      right: 50%;
      width: 70vw;
    }

    .blocks-on-image__slide {
      display: flex;
      width: inherit;
    }
  }

  .blocks-on-image__slide {
    flex: 1;
  }
}
