/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

@import './scss/rem-calc';

// Colors.
$color-black: rgb(41, 41, 41);
$color-white: #f4f4f4;
$gray: #dedede;
$wp-blue: #007cba;
